.headerMain {
  height: 7%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newTicketBtn {
  border: none;
  border-radius: 30px;
  background-color: #48b2ff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1%;
}
.share {
  display: flex;
  gap: 3px;
  margin-right: 1%;
  align-items: center;
}

.level-minor,
.level-normal,
.level-urgent {
  background-color: #e5e0eb;
  border: none;
}

.level-minor {
  border-radius: 30px 0 0 30px;
}
.level-urgent {
  border-radius: 0 30px 30px 0;
}
.level-minor:hover {
  background-color: green;
  color: white;
}
.level-normal:hover {
  background-color: orange;
  color: white;
}
.level-urgent:hover {
  background-color: red;
  color: white;
}
.excelBtn,
.printBtn {
  background-color: #e5e0eb;
  border-radius: 30px;
  border: none;
}

@media (max-width: 600px) {
  .headerMain {
    font-size: small;
  }
}
.excelBtn:hover {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.printBtn:hover {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.table-container {
  margin-inline: 10px;
  overflow-y: auto;
  height: 93%;
}
.table-tickets {
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
  font-size: small;
  margin-top: 5px;
  /* overflow-y: auto; */
}

.table-tickets th,
.table-tickets td {
  border: 1px solid white;
  padding: 3px;
  padding-block: 5px;
  text-align: center;
}
.table-tickets th {
  background-color: #e5e0eb;
  border: 1px solid #e5e0eb;
  font-weight: bolder;
}
